<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let odd of oddNumbers"
          appHighlight>
          {{odd}}
        </li>
        </div>
        <div *appUselss="onlyOdd"><li
          class="list-group-item"
          *ngFor="let even of evenNumbers"
          appBetterHighlight
          defaultColor="yellow"
          >
          {{even}}
        </li></div>
      </ul>
      <p appBetterHighlight [defaultColor]="'yellow'">Test</p>
    </div>
  </div>
</div>
